Mira2D/Saved/Telemetry/Telemetry.json
Mira2D/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Mira2D/Saved/webcache_4430/TransportSecurity
Mira2D/Saved/webcache_4430/Network Persistent State
Mira2D/Saved/webcache_4430/Local Storage/leveldb/LOG
Mira2D/Saved/Telemetry/Telemetry.json
Mira2D/Saved/Logs/Mira2D.log
Mira2D/Saved/Logs/cef3.log
Mira2D/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Mira2D/Intermediate/CachedAssetRegistry_0.bin
Mira2D/Saved/Logs/cef3.log
Mira2D/Saved/Logs/Mira2D.log
Mira2D/Saved/Telemetry/Telemetry.json
Mira2D/Saved/webcache_4430/Local Storage/leveldb/LOG
