Mira2D/Saved/Telemetry/Telemetry.json
Mira2D/Saved/Telemetry/Telemetry.json
Mira2D/Saved/Logs/Mira2D.log
Mira2D/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Mira2D/Intermediate/CachedAssetRegistry_0.bin
Mira2D/Content/WBP/WBP_List.uasset
